<div class="login-body">
  <div class="login-panel ui-fluid">
    <div class="login-panel-header">
      <img src="assets/layout/images/login/afe_logo.png" />
    </div>
    <form [formGroup]="formGroup">
      <div class="login-panel-content">
        <div class="ui-g">
          <div class="ui-g-12">
            <h1>AFE</h1>
          </div>
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input type="text" formControlName="username" pInputText />
              <label>Usuario</label>
              <validations-input-component [formGroup]="formGroup" formInputName="username" [validation_messages]="validations"> </validations-input-component>
            </span>
          </div>
          <div class="ui-g-12">
            <span class="md-inputfield">
              <input type="password" formControlName="password"  pInputText (keyup.enter)="login()" />
              <label>Contraseña</label>
              <validations-input-component [formGroup]="formGroup" [validation_messages]="validations" formInputName="password"> </validations-input-component>
            </span>
          </div>
          <div class="ui-g-12" style="text-align: right">
            <button
              pButton
              type="button"
              [disabled]="!this.formGroup.valid || loginbtn"
              (click)="login()"
              label="Iniciar sesión"
              style="width: 100%">
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<p-toast key="error"></p-toast>

