<div class="exception-body accessdenied">
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-access.png">
        </div>

        <div class="exception-detail">
            <h1>ACCESS DENIED</h1>
            <div *ngIf="!token ;else notoken">
                <p>Tu token no es valido.</p>
            </div>
            <ng-template #notoken>
                <p>No tienes los permisos necesarios.</p>
            </ng-template>
            <div *ngIf="!token ">
                <p-button label="Regresar a Login" [routerLink]="['/login']"></p-button>
            </div>
            <div *ngIf="!permissions ">
                <p-button label="Regresar" [routerLink]="['/']"></p-button>
            </div>
        </div>
    </div>
</div>
