<div class="exception-body accessdenied">
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-access.png">
        </div>

        <div class="exception-detail">
            <h1>ACCESS DENIED</h1>
            <div *ngIf="!token ;else notoken">
                <p>Your token is no longer valid.</p>
            </div>
            <ng-template #notoken>
                <p>You do not have the necessary permissons.</p>
            </ng-template>
            <p-button label="GO TO  LOGIN" [routerLink]="['/login']"></p-button>
        </div>
    </div>
</div>
