<div class="card">
  <div class="card-title">Cancelación / Notas</div>
  <div class="ui-g ui-fluid">
    <form [formGroup]="formGroup" class="form-group ui-g-12" (ngSubmit)="searchInformation()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="ui-g-12 ui-lg-12">
          <div class="ui-g-12 ui-lg-4">
            <div class="p-inputgroup">
              <span class="md-inputfield">
                <p-calendar [style]="{ width: '100%' }" dateFormat="yy-mm-dd" name="invoiceDate" [showButtonBar]="true"
                  formControlName="invoiceDate" [inputStyle]="{ width: '100%' }" [showIcon]="true"
                  (ngModelChange)="onChanges($event)"></p-calendar>
                <label>Fecha de facturación</label>
              </span>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-4">
            <span class="md-inputfield">
              <p-dropdown formControlName="invoice" [options]="invoices" [filter]="true" [autoDisplayFirst]="false"
                [showClear]="true" appendTo="body" (onChange)="selectedChange($event)"></p-dropdown>
              <label>Factura</label>
            </span>
          </div>
          <div class="ui-g-12 ui-lg-4">
            <button pButton type="button" label="Buscar" icon="pi pi-search" class="teal-btn"
              [disabled]="!searchButtonDisable" (click)="searchInformation()" style="width: auto"></button>
          </div>
        </div>
      </div>
    </form>
    <div class="ui-g-12 ui-lg-12">
      <p-table #dt [columns]="cols" selectionMode="single" [value]="cancellationInvoices" [loading]="loadingInvoices"
        sortMode="single" [responsive]="true" [rowHover]="true" [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30, 40, 50]" [autoLayout]="true" [rows]="20" [pageLinks]="20" [filterDelay]="0">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{ col.header}}
            </th>
            <th class="td-center">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td style="text-align: center" [attr.colspan]="columns.length + 2">
              No se encontró información
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
              <span *ngIf="col.subfield === undefined; else elseBlock">
                {{rowData[col.field]}}
              </span>
              <ng-template #elseBlock>
                {{rowData[col.field] [col.subfield]}}
              </ng-template>
            </td>
            <td>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div class="card">
  <div class="ui-g ui-fluid">
    <form [formGroup]="formGroupInformation" class="form-group ui-g-12">
      <div class="ui-g-12 ui-lg-12">
        <div class="ui-g-12 ui-lg-12">
          <span class="ui-float-label md-inputfield">
            <textarea formControlName="motive" [rows]="3" [cols]="60" pInputTextarea></textarea>
            <label>Motivo</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-12">
        <div class="ui-g-12 ui-lg-3">
          <span class="md-inputfield">
            <p-dropdown formControlName="typeCancellation" [options]="invoices" [filter]="true"
              [autoDisplayFirst]="false" [showClear]="true" appendTo="body" (onChange)="selectedChange($event)">
            </p-dropdown>
            <label>Tipo de cancelación</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-12">
        <div class="ui-g-12 ui-lg-3">
          <span class="p-field-checkbox">
            <p-checkbox formControlName="cofidiInvoice" [(ngModel)]="checked" binary="true" inputId="binary">
            </p-checkbox>
            <label>Factura manual en COFIDI </label>
          </span>
        </div>
        <div class="ui-g-12 ui-lg-3">
          <span class="md-inputfield">
            <input type="text" formControlName="manualInvoice" style="width: 100%" pInputText />
            <label>Folio factura manual</label>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12">
      <div class="ui-g-12 ui-lg-12">
        <p-fileUpload #form name="demo[]" customUpload="true" multiple="multiple" (uploadHandler)="myUploader($event, form)" accept=".xml">        
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
    <form [formGroup]="formGroupInformationInvoice" class="form-group ui-g-12">
      <div class="ui-g-12 ui-lg-12">
        <div class="ui-g-12 ui-lg-6">
          <span class="md-inputfield">
            <input type="text" formControlName="serie" style="width: 100%" pInputText />
            <label>Serie</label>
          </span>
        </div>
        <div class="ui-g-12 ui-lg-6">
          <span class="md-inputfield">
            <input type="text" formControlName="folio" style="width: 100%" pInputText />
            <label>Folio</label>
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-12">
        <div class="ui-g-12 ui-lg-6">
          <span class="md-inputfield">
            <input type="text" formControlName="staampDate" style="width: 100%" pInputText />
            <label>Fecha de timbrado</label>
          </span>
        </div>
        <div class="ui-g-12 ui-lg-6">
          <span class="md-inputfield">
            <input type="text" formControlName="uuid" style="width: 100%" pInputText />
            <label>UUID</label>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<p-confirmDialog #cd header="Confirmación" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button class="ui-button-success" type="button" pButton icon="pi pi-check" label="Sí" (click)="cd.accept()">
    </button>
    <button class="ui-button-danger" type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>