<p-dialog header="Agregar Pedido" (onHide)="closed()" [(visible)]="display">
    <div class="ui-g ui-fluid">
        <form [(formGroup)]="addModel" class="ui-g-12">
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-lg-4">
                    <span class="md-inputfield"  >
                        <p-dropdown formControlName="model" [options]="models" [filter]="true" 
                        [autoDisplayFirst]="false" [showClear]="true" appendTo="body" (onChange)="selectModel()"></p-dropdown>
                        <label>Modelo</label>
                        <validations-input-component [formGroup]="addModel" formInputName="model" [validation_messages]="validations"></validations-input-component>
                    </span>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <span class="md-inputfield ">
                        <input type="text" formControlName="modelType" pInputText>
                        <label>Tipo de modelo</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <span class="md-inputfield ">
                        <input type="text" formControlName="plant" pInputText>
                        <label>Planta</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <span class="md-inputfield"  >
                        <p-dropdown formControlName="color" [options]="colors" [filter]="true" 
                        [autoDisplayFirst]="false" [showClear]="true" appendTo="body" (onChange)="selectColor()"></p-dropdown>
                        <label>Color</label>
                        <validations-input-component [formGroup]="addModel" formInputName="color" [validation_messages]="validations"></validations-input-component>
                    </span>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <span class="md-inputfield ">
                        <input type="text" formControlName="internalColor" pInputText>
                        <label>Color interior</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-lg-4">
                    <span class="md-inputfield ">
                        <input type="text" formControlName="quantity" pInputText>
                        <label>Cantidad</label>
                        <validations-input-component [formGroup]="addModel" formInputName="quantity" [validation_messages]="validations"></validations-input-component>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <p-footer>
        <button class= "ui-button-success" type="button" pButton icon="ui-icon-save" label="Agregar" [disabled]="!addModel.valid"
        (click)="add()"></button>
        <button class="ui-button-danger" type="button" pButton icon="ui-icon-close" label="Cancelar" 
        (click)="closed()"></button>
    </p-footer>
</p-dialog>