<p-dialog header={{title}} (onHide)="closed()" [(visible)]="display">
  <div class="ui-g ui-fluid">
    <form [(formGroup)]="addMaintenance" class="ui-g-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-lg-4">
          <span class="md-inputfield">
            <input type="text" formControlName="plant" pInputText>
            <label>Planta</label>
          </span>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <span class="md-inputfield">
            <input type="text" formControlName="modelType" pInputText>
            <label>Tipo Modelo</label>            
          </span>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <span class="md-inputfield">
            <p-dropdown formControlName="model" [options]="models" [filter]="true"
            [autoDisplayFirst]="false" [showClear]="true" appendTo="body" (onChange)="selectedChangeModel($event)"></p-dropdown>
            <label>Modelo*</label>
          </span>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <span class="md-inputfield">
            <p-dropdown formControlName="color" [options]="colors" [filter]="true"
            [autoDisplayFirst]="false" [showClear]="true" appendTo="body" (onChange)="changeColor()"></p-dropdown>
            <label>Color*</label>
          </span>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <span class="md-inputfield">
            <input type="text" formControlName="interiorColor" pInputText>
            <label>Color Interior*</label>
          </span>
        </div>
        <div class="ui-g-12 ui-lg-4">
          <span class="md-inputfield">
            <input type="text" formControlName="cantidad" pInputText>
            <label>Cantidad*</label>
          </span>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <button class= "ui-button-success" type="button" pButton icon="ui-icon-save" label={{titleButton}} [disabled]="!addMaintenance.valid"
    (click)="add()"></button>
    <button class="ui-button-danger" type="button" pButton icon="ui-icon-close" label="Cancelar" 
    (click)="closed()"></button>
</p-footer>
</p-dialog>
