<div>
  <div class="card">
    <div class="card-title">Catálogo Cotizaciones</div>
    <div class="ui-g ui-fluid">
      <form class="form-group ui-g-12" [formGroup]="formGroup">
        <div class="p-fluid p-formgrid p-grid">
          <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-lg-4">
              <div class="p-inputgroup">
                <span class="md-inputfield">
                  <p-calendar dateFormat="yy-mm-dd" name="createDate" [showButtonBar]="true"
                    formControlName="fechaInicio" [inputStyle]="{ width: '100%' }" [showIcon]="true"></p-calendar>
                  <label>Fecha de inicio</label>
                </span>
                <validations-input-component> </validations-input-component>
              </div>
            </div>
            <div class="ui-g-12 ui-lg-4">
              <button pButton type="button" label="Buscar" icon="pi pi-search" class="teal-btn"
                style="width: auto" (click)="search()"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="progress-spinner" *ngIf="blockedScreen">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="card">    
    <p-table [columns]="cols" [value]="dataTable" selectionMode="single" dataKey="idTabla" sortMode="multiple"
      [style]="{ 'margin-bottom': '20px' }" [responsive]="true" [rowHover]="true" [paginator]="true" [responsive]="true"
      [rowsPerPageOptions]="[10, 20, 30, 40, 50]" [autoLayout]="true" [rows]="20" [pageLinks]="20">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.header != 'Acción'" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td style="text-align: center" [attr.colspan]="columns.length + 2">
            No se encontro información
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{ col.header }}</span>
            <span *ngIf="col.field != 'action'; else elseAction">
              <div *ngIf="col.field == 'createDate'; else elseDate">
                {{rowData[col.field] | pipeStringDate}}
              </div>
              <ng-template #elseDate>
                {{rowData[col.field]}}
              </ng-template>
            </span>
            <ng-template #elseAction>
              <!-- VALIDAR SI EL EFFECTIVE DATE ES IGUAL AL DIA ACTUAL PARA MOSTRAR EL BOTON
              rowData.effectiveDate === currentDate -->
              <div *ngIf="rowData.plant === 'GMM'">
                <button pButton pRipple type="button" pTooltip="El boton solo se mostrara cuando la fecha efectiva corresponda a la fecha actual y/o la plata de este modelo sea GMM"
                [disabled]="!isEffectiveDate(rowData.createDate)" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" icon="pi pi-pencil" (click)="openQuote(rowData)"></button>
              </div>
              <!-- <button pButton type="button" icon="pi pi-file-excel" style="margin-left: 3px"
                class="ui-button-success"></button> -->
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="Exportar a Excel" class="ui-button-success" style="float:right" (click)="downloadExcel()"></button>
        </div>
    </ng-template>
    </p-table>

  </div>
</div>

<p-dialog header="Editar Cotización" [(visible)]="isEditQuote" [style]="{width: '50vw'}">
  <form [(formGroup)]="formQuote">
    <div class="ui-g form-group">
      <div class="ui-g-4 ui-lg-4">
        <span class="md-inputfield ">
          <input type="text" formControlName="numberQuotation" pInputText>
          <label>No. De Cotización</label>
          <validations-input-component [formGroup]="formQuote" formInputName="numberQuotation"
            [validation_messages]="validations"></validations-input-component>
        </span>
      </div>
      <div class="ui-g-4 ui-lg-4">
        <span class="md-inputfield ">
          <input type="text" formControlName="model" pInputText>
          <label>Modelo</label>
          <validations-input-component [formGroup]="formQuote" formInputName="model"
            [validation_messages]="validations"></validations-input-component>
        </span>
      </div>
      <div class="ui-g-4 ui-lg-4">
        <span class="md-inputfield ">
          <input type="text" formControlName="plant" pInputText>
          <label>Planta</label>
          <validations-input-component [formGroup]="formQuote" formInputName="plant"
            [validation_messages]="validations"></validations-input-component>
        </span>
      </div>
      <div class="ui-g-4 ui-lg-4">
        <span class="md-inputfield">
          <input type="text" formControlName="price" pInputText>
          <label>Precio</label>
          <validations-input-component [formGroup]="formQuote" formInputName="price"
            [validation_messages]="validations"></validations-input-component>
        </span>
      </div>
      <div class="ui-g-4 ui-lg-4">
        <span class="md-inputfield ">
          <input type="text" formControlName="modelType" pInputText>
          <label>Tipo Modelo</label>
          <validations-input-component [formGroup]="formQuote" formInputName="modelType"
            [validation_messages]="validations"></validations-input-component>
        </span>
      </div>
      <div class="ui-g-4 ui-lg-4">
        <span class="md-inputfield ">
          <input type="text" formControlName="currency" pInputText>
          <label>Moneda</label>
          <validations-input-component [formGroup]="formQuote" formInputName="currency"
            [validation_messages]="validations"></validations-input-component>
        </span>
      </div>
      <div class="ui-g-4 ui-lg-4">
        <span class="md-inputfield ">
          <input type="text" formControlName="effectiveDate" pInputText>
          <label>Fecha De Cotización</label>
          <validations-input-component [formGroup]="formQuote" formInputName="effectiveDate"
            [validation_messages]="validations"></validations-input-component>
        </span>
      </div>
    </div>
  </form>
  <p-footer>
    <button [disabled]="!formQuote.valid" class= "ui-button-success" type="button" pButton icon="ui-icon-save" label="Guardar"
    (click)="updateQuote()"></button>
    <button class="ui-button-danger" type="button" pButton icon="ui-icon-close" label="Cancelar" 
    (click)="isEditQuote = false"></button>
  </p-footer> 
</p-dialog>