<div class="card">
    <div class="card-title">Detalle Orden de Compra</div>
    <br>
    <div class="p-fluid p-formgrid p-grid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield ">
                    <input type="text" style="width: 100%;" [disabled]="true" [readOnly]="true"
                        [ngModel]="order.orderNumber" pInputText>
                    <label>Orden de compra</label>
                </span>
            </div>
            <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield ">
                    <p-calendar [style]="{'width':'100%'}" dateFormat="yy-mm" [disabled]="true"
                        [ngModel]="dateProductionMonth" [inputStyle]="{'width':'100%'}" [showIcon]="true"></p-calendar>
                    <label>Mes de produción</label>
                </span>
            </div>
            <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield ">
                    <p-calendar [style]="{'width':'100%'}" [ngModel]="dateExpired" [disabled]="true"
                        [inputStyle]="{'width':'100%'}" [showIcon]="true"></p-calendar>
                    <label>Fecha de vencimiento</label>
                </span>
            </div>
        </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
        <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield ">
                    <input type="text" style="width: 100%;" [disabled]="true" [readOnly]="true"
                        [ngModel]="order.unitsQuantity" pInputText>
                    <label>Total pedido</label>
                </span>
            </div>

            <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield ">
                    <input type="text" style="width: 100%;" [disabled]="true" [readOnly]="true"
                        [ngModel]="order.unitsAssigned" pInputText>
                    <label>Total asignado</label>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <p-table [columns]="cols" selectionMode="single" dataKey="idTabla" [value]="order.detail" [loading]="false"
        sortMode="multiple" [style]="{ 'margin-bottom': '20px' }" [responsive]="true" [rowHover]="true"
        [paginator]="true" [responsive]="true" [rowsPerPageOptions]="[30, 40, 50]" [autoLayout]="true" [rows]="20"
        [pageLinks]="20">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon *ngIf="col.header != 'Acción'" [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-purchaseOrderDetail>
            <tr>
                <td style="text-align: center" [colSpan]="5">
                    No se encontro información
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-purchaseOrderDetail>

            <tr>
                <td>{{ purchaseOrderDetail.model.type.type }}</td>
                <td>{{ purchaseOrderDetail.model.code }}</td>
                <td>{{ purchaseOrderDetail.color.code }}</td>
                <td>{{ purchaseOrderDetail.color.interiorCode }}</td>
                <td>{{ purchaseOrderDetail.quantity }}</td>
                <td>{{ purchaseOrderDetail.assigned}}</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="p-fluid p-formgrid p-grid">
        <div class="ui-g-12 ui-lg-3">
            <button pButton type="button" label="Salir" icon="ui-icon-close" class="ui-button-danger" (click)="Close()"
                style="width:auto"></button>
        </div>
    </div>
</div>