<div>

  <div class="card">
    <div class="card-title">Catálogo Cotizaciones</div>
    <div class="ui-g ui-fluid">
      <form class="form-group ui-g-12" [formGroup]="formGroup">
        <div class="p-fluid p-formgrid p-grid">
          <div class="ui-g-12 ui-lg-12">

            <div class="ui-g-12 ui-lg-4">
              <div class="p-inputgroup">
                <span class="md-inputfield">
                  <p-calendar dateFormat="yy-mm-dd" name="createDate" [showButtonBar]="true"
                    formControlName="fechaInicio" [inputStyle]="{ width: '100%' }" [showIcon]="true"></p-calendar>
                  <label>Fecha de inicio</label>
                </span>
                <validations-input-component> </validations-input-component>
              </div>
            </div>
            <div class="ui-g-12 ui-lg-4">
              <button pButton type="button" label="Buscar" icon="pi pi-search" class="teal-btn"
                style="width: auto"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    
    <p-table [columns]="cols" [value]="dataTable" selectionMode="single" dataKey="idTabla" sortMode="multiple"
      [style]="{ 'margin-bottom': '20px' }" [responsive]="true" [rowHover]="true" [paginator]="true" [responsive]="true"
      [rowsPerPageOptions]="[10, 20, 30, 40, 50]" [autoLayout]="true" [rows]="20" [pageLinks]="20">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.header != 'Acción'" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td style="text-align: center" [attr.colspan]="columns.length + 2">
            No se encontro información
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{ col.header }}</span>
            <span *ngIf="col.field != 'action'; else elseAction">
              <div *ngIf="col.field == 'createDate'; else elseDate">
                {{rowData[col.field] | pipeStringDate}}
              </div>
              <ng-template #elseDate>
                {{rowData[col.field]}}
              </ng-template>
            </span>
            <ng-template #elseAction>

              <button pButton type="button" icon="pi pi-file-excel" style="margin-left: 3px"
                class="ui-button-success"></button>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" style="text-align: left">
            <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="Exportar a Excel" class="ui-button-success" style="float:right"></button>
        </div>
    </ng-template>
    </p-table>

  </div>
</div>