<div class="card">
    <div class="card-title">Editar Orden de Compra</div>
<br>

        <div class="p-fluid p-formgrid p-grid">
            
    

            <form
            [formGroup]="formGroup"
            class="form-group ui-g-12"
            >
            <div class="p-fluid p-formgrid p-grid">
                <div class="ui-g-12 ui-lg-12">
                    <div class="ui-g-12 ui-lg-3">
                        <span class="md-inputfield ">
                            <input type="text" style="width: 100%;" [readOnly]="true"  formControlName="orderCode"  pInputText>
                            <label>Orden de compra</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-lg-3">
                        <div class="p-inputgroup">
                            <span class="md-inputfield">
                                <p-calendar
                                    [style]="{ width: '100%' }"
                                    dateFormat="yy-mm"
                                    name="mesProduction"
                                    [minDate]="minDate"
                                    formControlName="productionMonthForm"
                                    [inputStyle]="{ width: '100%' }"
                                    [showIcon]="true"></p-calendar>
                                <label>Mes de produción</label>
                            </span>
                            <validations-input-component
                                [validation_messages]="validations"
                                [(formGroup)]="formGroup"
                                [(formInputName)]="productionMonthFormName">
                            </validations-input-component>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-3">
                        <span class="md-inputfield ">
                            <p-calendar [style]="{'width':'100%'}"  [maxDate]="minDate" [minDate]="minVencimiento" [inputStyle]="{'width':'100%'}"  formControlName="fechaVencimiento" [showIcon]="true"></p-calendar>
                                <label>Fecha de vencimiento</label>
                            </span>
                        <validations-input-component  [validation_messages]="validations"
                        [(formGroup)]="formGroup"
                        [(formInputName)]="fechaVencimientoName"></validations-input-component>
                    </div>
                    <div class="ui-g-12 ui-lg-3">
                        <span class="md-inputfield ">
                            <input type="text" style="width: 100%;" [readOnly]="true" formControlName="unitsQuantity"   pInputText>
                            <label>Total unidades</label>
                        </span>
                    </div>
                </div>
            </div><div class="ui-g-12 ui-lg-2">
                <button pButton type="button" label="Guardar" (click)="Save()" icon="ui-icon-save" class="ui-button-success" style="width:auto"></button>
            </div>
        </form>

            
    
        </div>
</div>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button class="ui-button-danger" type="button" pButton icon="pi pi-check" label="Si" 
        (click)="cd.accept()"></button>
        <button class= "ui-button-success" type="button" pButton icon="pi pi-times" label="No" 
        (click)="cd.reject()"></button>
    </p-footer>
  </p-confirmDialog>


<div class="card">

    <div class="p-fluid p-formgrid p-grid">
        <div class="ui-g-12 ui-lg-3">
            <button
                pButton
                type="button"
                label="Agregar"
                icon="pi
                pi-plus"
                class="ui-button-success"
                (click)="add()"
                style="width: auto"></button>
        </div>
    </div>

    <p-table [columns]="cols"
    selectionMode="single"
    dataKey="idTabla"
    [value]="order.detail"
    [loading]="false"
    sortMode="multiple"
    [style]="{ 'margin-bottom': '20px' }"
    [responsive]="true"
    [rowHover]="true"
    [paginator]="true"
    [responsive]="true"
    [rowsPerPageOptions]="[30, 40, 50]"
    [autoLayout]="true"
    [rows]="20"
    [pageLinks]="20"
        >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns"
                    [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon
                        *ngIf="col.header != 'Acción'"
                        [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
            <ng-template pTemplate="emptymessage" let-purchaseOrderDetail>
                <tr>
                  <td style="text-align: center" [colSpan]="5">
                  No se encontro información
                  </td>
                </tr>
              </ng-template>
            <ng-template pTemplate="body" let-purchaseOrderDetail>
                
                <tr>
                    <td>{{ purchaseOrderDetail.model.type.type }}</td>
                    <td>{{ purchaseOrderDetail.model.code }}</td>
                    <td>{{ purchaseOrderDetail.color.code }}</td>
                    <td>{{ purchaseOrderDetail.color.interiorCode }}</td>
                    <td>{{ purchaseOrderDetail.quantity }}</td>
                    <td>
                        <button
                        pButton
                        type="button"
                        icon="ui-icon-edit"
                        (click)="editarDetail(purchaseOrderDetail)"
                        class="blue-grey-btn"></button>
                    <button
                        pButton
                        type="button"
                        icon="ui-icon-delete" (click)="eliminarDetail(purchaseOrderDetail)"
                        style="margin-left: 3px"
                        class="ui-button-danger"></button>
                        </td>

                </tr>
                
            </ng-template>
        </p-table>
        <div class="p-fluid p-formgrid p-grid">
            
            <div class="ui-g-12 ui-lg-2">
                <button pButton type="button" label="Salir" (click)="Close()" icon="ui-icon-close" class="ui-button-danger" style="width:auto"></button>
            </div>
        </div>
        
</div>

<div>
    <agregar-pedido-modelo [display]="displayAdd" [purchaseOrderId]="this.order.id" (close)="closedAgregar()"></agregar-pedido-modelo>
</div>

<div>
    <editar-pedido-modelo [(pedido)]="pedido" (close)="closedEditarPedido()" [purchaseOrderId]="this.order.id" [display]="displayEdit"></editar-pedido-modelo>
</div>