<div *ngIf="visible">
  <div class="card">
    <div class="card-title">Catálogo de órdenes de compra</div>
    <div class="ui-g ui-fluid">
      <form [formGroup]="formGroup" class="form-group ui-g-12" (ngSubmit)="SearchPurchaseOrder()">
        <div class="p-fluid p-formgrid p-grid">
          <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-lg-4">
              <span class="md-inputfield">
                <input type="text" formControlName="orderCode" style="width: 100%" pInputText
                  (input)="selectedChangeOrderCode($event)" />
                <validations-input-component [validation_messages]="validations" [(formGroup)]="formGroup"
                  [(formInputName)]="orderCodeName">
                </validations-input-component>
                <label>Orden de compra</label>
              </span>
            </div>
            <div class="ui-g-12 ui-lg-4">
              <div class="p-inputgroup">
                <span class="md-inputfield">
                  <p-calendar [style]="{ width: '100%' }" dateFormat="yy-mm" name="monthProduction"
                    [showButtonBar]="true" formControlName="monthProduction" [inputStyle]="{ width: '100%' }"
                    [showIcon]="true" (ngModelChange)="selectedChangeMonthProduction($event)"></p-calendar>
                  <label>Mes de produción</label>
                </span>
                <validations-input-component [validation_messages]="validations" [(formGroup)]="formGroup"
                  [(formInputName)]="monthProduction">
                </validations-input-component>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-12">
            <div class="ui-g-12 ui-lg-4">
              <span class="md-inputfield ">
                <p-dropdown #dd formControlName="type" [resetFilterOnHide]="true" [options]="types"
                  (onChange)="selectedChangeType($event)" [filter]="true" [autoDisplayFirst]="false" [showClear]="true"
                  appendTo="body" disable=enableType></p-dropdown>
                <label>Tipo</label>
              </span>
            </div>
            <div class="ui-g-12 ui-lg-4">
              <span class="md-inputfield ">
                <p-dropdown #dd formControlName="model" [resetFilterOnHide]="true" [options]="models"
                  (onChange)="selectedChangeModel($event)" [filter]="true" [autoDisplayFirst]="false" [showClear]="true"
                  appendTo="body"></p-dropdown>
                <label>Modelo</label>
              </span>
            </div>
            <div class="ui-g-12 ui-lg-4">
              <span class="md-inputfield ">
                <p-dropdown #dd formControlName="color" [resetFilterOnHide]="true" [options]="colors" [filter]="true"
                  [autoDisplayFirst]="false" [showClear]="true" appendTo="body"></p-dropdown>
                <label>Color</label>
              </span>
            </div>
            <div class="ui-g-12 ui-lg-4">
              <button pButton type="button" label="Buscar" icon="pi pi-search" class="teal-btn"
                [disabled]="!searchButtonDisable" (click)="SearchPurchaseOrder()" style="width: auto"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="p-fluid p-formgrid p-grid">

      <div class="ui-g-12 ui-lg-1" style="width: 12%;">
        <button pButton type="button" label="Crear OC HSA" icon="pi pi-plus" class="ui-button-success" (click)="NewOc()"
          style="width: auto"></button>
      </div>

      <div class="ui-g-12 ui-lg-2">
        <button pButton type="button" label="Asignar OC Manual" icon="pi pi-check" class="blue-grey-btn"
          (click)="sendAssignment()" style="width: auto">
        </button>
      </div>
    </div>

    <!-- Tabla con las ordenes de compras -->
    <p-table [columns]="cols" selectionMode="single" dataKey="idTabla" [value]="purchaseOrder"
      [loading]="loadingPurchaseOrder" sortMode="multiple" [style]="{ 'margin-bottom': '20px' }" [responsive]="true"
      [rowHover]="true" [paginator]="true" [responsive]="true" [rowsPerPageOptions]="[30, 40, 50]" [autoLayout]="true"
      [rows]="20" [pageLinks]="20">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.header != 'Acción'" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td style="text-align: center" [attr.colspan]="columns.length + 2">
            No se encontro información
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <span class="ui-column-title">{{ col.header }}</span>
            <span *ngIf="col.field != 'action'; else elseAction">{{
              rowData[col.field]
              }}</span>
            <ng-template #elseAction>
              <div *ngIf="rowData.status === 'Creada'">
                <div *ngIf="rowData.dueDate && rowData.productionMonth">
                  <button pButton type="button" icon="ui-icon-edit" (click)="EditOrden(rowData)"
                    class="blue-grey-btn"></button>
                  <button pButton type="button" (click)="sendOC(rowData)" icon="pi pi-check" style="margin-left: 3px"
                    class="blue-btn"></button>
                </div>
                <div *ngIf="!rowData.dueDate || !rowData.productionMonth">
                  <button pButton type="button" icon="ui-icon-edit" (click)="EditOrden(rowData)"
                    class="blue-grey-btn"></button>
                  <button pButton type="button" [disabled]="true" (click)="sendOC(rowData)" icon="pi pi-check"
                    style="margin-left: 3px" class="blue-btn"></button>
                </div>
              </div>
              <div *ngIf="rowData.status === 'Abierta' || rowData.status === 'Cerrada'">
                <button pButton type="button" style="margin-left: 3px" icon="ui-icon-format-list-bulleted"
                  class="blue-grey-btn space-btn" (click)="ShowDetails(rowData)"></button>

                <button pButton type="button" style="margin-left: 3px" icon="pi pi-exclamation-triangle"
                  class="amber-btn" (click)=maintenance(rowData)></button>
              </div>              
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div *ngIf="!visible && visibledetails && visibleEditable && !visibleMaintenance">
  <generate-purchase-order-component (close)="closeGenerar()"></generate-purchase-order-component>
</div>

<div *ngIf="!visibledetails && !visible && visibleEditable && !visibleMaintenance">
  <detail-purchase-order-component (close)="CloseDetails()" [order]="order" [dateExpired]="fechaVencimientoSelected"
    [dateProductionMonth]="fechaProductionMonthSelected"></detail-purchase-order-component>
</div>

<div *ngIf="!visible && !visibleEditable && visibledetails && !visibleMaintenance">
  <edit-purchase-order-component (close)="CloseEditar()" [dateExpired]="fechaVencimientoSelected"
    [productionMonth]="fechaProductionMonthSelected" [order]="order"></edit-purchase-order-component>
</div>

<div *ngIf="!visible && visibleMaintenance">
  <app-maintenance (close)="closeMaintenance()" [maintenanceDetails]="maintenanceDetails"></app-maintenance>
</div>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button class="ui-button-success" type="button" pButton icon="pi pi-check" label="Si"
      (click)="cd.accept()"></button>
    <button class="ui-button-danger" type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>