<p-dialog header="Agregar Centro de Distribución" (onHide)="closed()" [(visible)]="display">
  <div class="ui-g ui-fluid">
      <form [(formGroup)]="addDistibution" class="ui-g-12">
          <div class="ui-g form-group">
              <div class="ui-g-12 ui-lg-4">
                  <span class="md-inputfield"  >
                      <p-dropdown formControlName="countryName" [options]="country" [filter]="true" 
                      [autoDisplayFirst]="false" [showClear]="true" appendTo="body" (onChange)="changeCountry()"></p-dropdown>
                      <label>País*</label>
                      <validations-input-component [formGroup]="addDistibution" formInputName="countryName" [validation_messages]="validations"></validations-input-component>
                  </span>
              </div>
              <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield"  >
                  <p-dropdown formControlName="dealerNumber" [options]="dealerNumber" [filter]="true" 
                  [autoDisplayFirst]="false" [showClear]="true" appendTo="body" (click)="findDealerByCountry()" (onChange)="setDealerValues()"></p-dropdown>
                  <label>Dealer*</label>
                  <validations-input-component [formGroup]="addDistibution" formInputName="dealerNumber" [validation_messages]="validations"></validations-input-component>
                </span>
              </div>
              <div class="ui-g-12 ui-lg-4">
                  <span class="md-inputfield"  >
                    <input type="text" formControlName="distributionCode" pInputText>
                    <label>Código de Distribución</label>
                      <validations-input-component [formGroup]="addDistibution" formInputName="distributionCode" [validation_messages]="validations"></validations-input-component>
                  </span>
              </div>
              <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield"  >
                  <input type="text" formControlName="codeCountry" pInputText>
                  <label>Código de País</label>
                    <validations-input-component [formGroup]="addDistibution" formInputName="codeCountry" [validation_messages]="validations"></validations-input-component>
                </span>
              </div>
              <div class="ui-g-12 ui-lg-4">
                  <span class="md-inputfield"  >
                    <input type="text" formControlName="dealerName" pInputText>
                    <label>Nombre Dealer</label>
                    <validations-input-component [formGroup]="addDistibution" formInputName="dealerName" [validation_messages]="validations"></validations-input-component>
                  </span>
              </div>

              <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield"  >
                  <input type="text" formControlName="port" pInputText>
                  <label>Puerto</label>
                  <validations-input-component [formGroup]="addDistibution" formInputName="port" [validation_messages]="validations"></validations-input-component>
                </span>
              </div>

              <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield"  >
                  <input type="text" formControlName="portCode" pInputText>
                  <label>Código de Puerto</label>
                  <validations-input-component [formGroup]="addDistibution" formInputName="portCode" [validation_messages]="validations"></validations-input-component>
                </span>
              </div>
          </div>
      </form>
  </div>
  <p-footer>
      <button class= "ui-button-success" type="button" pButton icon="ui-icon-save" label="Agregar" [disabled]="!addDistibution.valid"
      (click)="add()"></button>
      <button class="ui-button-danger" type="button" pButton icon="ui-icon-close" label="Cancelar" 
      (click)="closed()"></button>
  </p-footer>
</p-dialog>