<div class="card">
    <div class="card-title">Generar Orden de Compra</div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="ui-g-12 ui-lg-3">
                <span class="md-inputfield ">
                    <input type="text" style="width: 100%;" pInputText>
                    <label>Orden de compra</label>
                </span>
            </div>
            <div class="ui-g-12 ui-lg-3">
                    <span class="md-inputfield ">
                    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showIcon]="true"   name="beginDate"></p-calendar>
                        <label>Mes de produción</label>
                    </span>
            </div>
            <div class="ui-g-12 ui-lg-3">
                <span class="md-inputfield ">
                    <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [showIcon]="true"   name="beginDate"></p-calendar>
                        <label>Fecha de vencimiento</label>
                    </span>
            </div>

            <div class="ui-g-12 ui-lg-3">
                <span class="md-inputfield ">
                    <input type="text" style="width: 100%;" pInputText>
                    <label>Total unidades</label>
                </span>
            </div>
            <div class="ui-g-12 ui-lg-2">
                <button pButton type="button" label="Guardar" (click)="Save()" icon="ui-icon-save" class="ui-button-success" style="width:auto"></button>
            </div>
        </div>
</div>
<div class="card">
    <div class="p-fluid p-formgrid p-grid">
        <div class="ui-g-12 ui-lg-3">
            <button
                pButton
                type="button"
                label="Agregar"
                icon="pi
                pi-plus"
                class="ui-button-success"
                (click)="add()"
                style="width: auto"></button>
        </div>
    </div>
    <p-table [columns]="cols"
    selectionMode="single"
    dataKey="idTabla"
    [value]="purchaseOrderDetail"
    [loading]="loadingPurchaseOrderDetail"
    sortMode="multiple"
    [style]="{ 'margin-bottom': '20px' }"
    [responsive]="true"
    [rowHover]="true"
    [paginator]="true"
    [responsive]="true"
    [rowsPerPageOptions]="[30, 40, 50]"
    [autoLayout]="true"
    [rows]="20"
    [pageLinks]="20"
        >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns"
                    [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon
                        *ngIf="col.header != 'Acción'"
                        [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
            <ng-template pTemplate="emptymessage" let-purchaseOrder>
                <tr>
                  <td style="text-align: center" [colSpan]="5">
                  No se encontro información
                  </td>
                </tr>
              </ng-template>
            <ng-template pTemplate="body" let-purchaseOrder>
                
                <tr>
                    <td>{{ purchaseOrder.code }}</td>
                    <td>{{ purchaseOrder.name }}</td>
                    <td>{{ purchaseOrder.category }}</td>
                    <td>{{ purchaseOrder.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="p-fluid p-formgrid p-grid">
            <div class="ui-g-12 ui-lg-2">
                <button pButton type="button" label="Salir" (click)="salir()" icon="ui-icon-close" class="ui-button-danger" style="width:auto"></button>
            </div>
        </div>
</div>
<div>
    <agregar-pedido-modelo [display]="displayAdd" (close)="displayAdd=false"></agregar-pedido-modelo>
</div>