<p-dialog header={{title}} (onHide)="closed()" [(visible)]="display">
  <div class="ui-g ui-fluid">
      <form [(formGroup)]="addUpdatePort" class="ui-g-12">
          <div class="ui-g form-group">
              <div class="ui-g-12 ui-lg-4">
                  <span class="md-inputfield"  >
                    <input type="text" formControlName="portCode" pInputText>
                    <label>Código de Puerto</label>
                      <validations-input-component [formGroup]="addUpdatePort" formInputName="portCode" [validation_messages]="validations"></validations-input-component>
                  </span>
              </div>
              <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield"  >
                  <input type="text" formControlName="portDescription" pInputText>
                  <label>Puerto</label>
                  <validations-input-component [formGroup]="addUpdatePort" formInputName="portDescription" [validation_messages]="validations"></validations-input-component>
                </span>
              </div>
              <div class="ui-g-12 ui-lg-4">
                <span class="md-inputfield"  >
                  <p-dropdown formControlName="countryName" [options]="country" [filter]="true" 
                  [autoDisplayFirst]="false" [showClear]="true" appendTo="body"></p-dropdown>
                  <label>País*</label>
                  <validations-input-component [formGroup]="addUpdatePort" formInputName="countryName" [validation_messages]="validations"></validations-input-component>
                </span>
              </div>
          </div>
      </form>
  </div>
  <p-footer>
      <button class= "ui-button-success" type="button" pButton icon="ui-icon-save" label={{buttonTitle}} [disabled]="!addUpdatePort.valid"
      (click)="add()"></button>
      <button class="ui-button-danger" type="button" pButton icon="ui-icon-close" label="Cancelar" 
      (click)="closed()"></button>
  </p-footer>
</p-dialog>